.page3 {
	height: 100vh;
}

.wrap {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0;
	left: -350px;
}

.none-mob {
	display: none !important;
}

.contain a {
	outline: none;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s;
}

.contain ul,
.contain li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contain a:hover,
.contain a:focus {
	color: #fff;
	text-decoration: none;
}

.contain {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.parallaxTilt_hover {
	position: absolute;
	width: 325px;
	height: 325px;
	left: calc(50% - 200px);
	top: calc(50% - 200px);
}

.tilter_figure {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.tilter_image,
.tilter_deco,
.tilter_caption {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: .5s ease-out;
	transform: translate3d(0, 0, 0);
}

#deco {
	opacity: 0;
}

.tilter_deco {}

.tilter_figure .tilter_title {
	text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 13px;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 3em;
	position: absolute;
	left: -105px;
	bottom: 60px;
}

.tilter_figure .tilter_tag {
	display: inline-block;
	padding: 12px 12px 12px 0;
	margin: 0;
	position: absolute;
	left: -100px;
	bottom: 12px;
	text-align: left;
}

#tag {
	text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 13px;
	border-top: 4px solid #0058fb;
}

.tilter_figure .tilter_tag span {
	font-size: 1em;
	font-weight: bold;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	from {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@media (max-width: 768px) {
	.parallaxTilt_hover {
		width: 150px;
		height: 150px;
		left: calc(50% - 100px);
		top: calc(50% - 100px);
	}
	.tilter_figure .tilter_title {
		font-size: 2em;
		left: -70px;
		top: 51px;
	}
	.tilter_figure .tilter_tag {
		left: -69px;
		bottom: -30px;
	}
	#deco {
		opacity: 1;
	}
	.tooltip {
		display: none;
	}
	.tooltip i {
		font-size: 1.7em;
	}
	.grid-sizer,
	.grid-item {
		width: 33.333333%;
	}
	.menu--adsila {
		font-family: 'Nunito', sans-serif;
		font-size: 2.15em;
		text-align: center;
		margin: 0 auto;
	}
	.menu__item {
		width: 100%;
		line-height: 1;
		position: relative;
		display: inline-block;
		margin: 0.3em 0;
		outline: none;
		text-align: center;
	}
	.middle {
		height: 0.2em;
	}
	.toggle-button {
		opacity: 0.6;
		position: fixed;
		padding: 9px 10px;
		margin: 1px -5px 8px 0;
	}
	.hero__imgwrap .tilt__back,
	.hero__imgwrap .tilt__front {
		background-size: 105vw auto;
		margin: -10% auto;
	}
	svg {
		width: 60vw;
		margin: 43% auto;
		display: block;
	}
	.tooltip {
		display: flex;
		height: 10vh;
		/*
		border-radius: 0px; */
		background: #ffffffc9;
		position: fixed;
		width: 100vw;
		bottom: 0;
		top: 89%;
		left: 0;
		flex-direction: column;
		justify-content: center;
	}
	.tooltip.none {
		display: none;
	}
	.filter-bar-filters {
		position: relative;
		/* z-index: 100; */
		color: #2e2e2e;
		display: inline-flex;
		margin: 0 auto;
		/* top: 0; */
		/*left: 0;*/
	}
	.filter-bar-filters i {
		display: inherit;
		font-size: 2.7em;
		margin: 2% 7px;
		padding: 0;
		text-align: center;
		cursor: pointer;
	}
}