body {
    background-color: #131417;
}

header {
    z-index: 10;
    position: fixed;
}

.page1 {

}

.page2 {
    min-height: 100vh;
}

.page3 {
    height: 100vh;
}

.page1 {
    @supports (-webkit-appearance: none) {
        .os-android & {
            min-height: calc(100vh - 56px);
        }
    }
}
