
package-lock.json
.vscode/settings.json
typed js experiment/icon.png
typed js experiment/img_1.png
typed js experiment/img_portrait.jpg
typed js experiment/parallax.js
typed js experiment/simple.html
typed js experiment/styles.css
